<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=""UTF-8">
    <title>Title</title>
</head>
<body>
    <h3 style="font-family:Calibri">Bollinger Bands on a stock</h3>
    <form method="POST">
        <p style="font-family: Calibri">Enter a stock symbol (i.e GOOG, ^FTSE, BTC-USD) <input name="text"> <br>
        <p style="font-family: Calibri">Enter timeline (i.e 100d or 2y, for 100 days or 2 years)<input name="Timeline">
        <input type="submit"> <br>
    </form>
    
</body>
</html> 